.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    flex-wrap: wrap;
    gap: 16px;
}
.results-sort {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    width: 100%;
}
